/fire-shaders/report/img/file_format.svg
/fire-shaders/report/img/voxel_thread_division.svg
/fire-shaders/report/img/mental_ray_model.svg
# Gedit backup files
*~

# Build folder
build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex
*.aux
*.log
*.blg
*.dvi
*.synctex.gz
*.bbl
*.toc
*.bak
